<html>

<head>
  <title>Download Spotify Playlist</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
  <style type="text/css">
    .custom-tooltip {
      --bs-tooltip-bg: var(--bs-primary);
    }
  </style>
  <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
  <script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
  <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
</head>

<body>
  <a class="text-decoration-none" href="/danvas">danvas</a>
  <div id="yt-player"></div>
  <div id="spyt-playlist" data-playlist-id="{{playlistId}}"></div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
  <script src="../static/playlist.js" type="text/babel"></script>
  <script src="../static/yt_iframe_api.js" type="text/babel"></script>
  <script src="../static/play_button.js" type="text/babel"></script>
  <script src="../static/helpers.js" type="text/babel"></script>
  <script>


    function toggleShowVideos(element_id) {
      const el = document.getElementById(element_id)
      if (el.style.display === "none") {
        el.style.display = "block";
      } else {
        el.style.display = "none";
      }
      console.log("toggleShowVideos!!", { el })
    }

    function togglePreviewTrack(button, audio_element_id) {
      const audio = document.getElementById(audio_element_id);
      const icon = document.getElementById(`${audio_element_id}-icon`);
      // console.log('togglePreviewTrack!!', { i, className: i.className, child: button.firstChild.className, ch: button.firstChild, button, audio_element_id, audio, paused: audio.paused })
      if (audio.paused) {
        audio.play();
        icon.className = "bi bi-pause-circle"
      } else {
        audio.pause();
        icon.className = "bi bi-play-circle"
      }
    }

    function playtrack(el) {
      console.log(`checked ${el.value} !!`, document.getElementById(`checkbox-${el.value}`));

    }

    function getSelectedYoutubeVideos() {
      const video_items = document.getElementsByClassName("yt-video-item");
      const videos = [];
      for (idx in video_items) {
        const { selected } = video_items[idx];
        if (selected && video_items[idx].value) {
          const [track_id, video_id] = video_items[idx].value.split("&");
          videos.push({ track_id, video_id });
        }
      }
      return videos;
    }

    function downloadTracks() {
      const videos = getSelectedYoutubeVideos();
      for (idx in videos) {
        const { track_id, video_id } = videos[idx];
        const id = toYtVideoItemId(track_id, video_id);
        const videoItemEl = document.getElementById(id);
        const title = videoItemEl.innerText.replace(/[\n\r]+|[\s]{2,}/g, ' ').trim();
        // console.log(`${title} (${video_id})`);
      }
    }

    function toYtVideoItemId(trackId, videoId) {
      return `${trackId}&${videoId}`;
    }

    function toVideoItem(id) {
      const [trackId, videoId] = id.split("&");
      return { trackId, videoId };
    }

    function toMinutesAndSeconds(totalSeconds) {
      const minutes = Math.floor(totalSeconds / 60);
      const seconds = parseInt(totalSeconds % 60);
      return `${minutes}m${seconds}s`;
    }

  </script>
  <script>
    const tooltipTriggerList = document.querySelectorAll('.yt-playback-button')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
    // FIXME: Tooltip working on only first element
    // console.log("tooltipList!!", { tooltipList })
  </script>
  <script>
    // 2. This code loads the IFrame Player API code asynchronously.
    var tag = document.createElement('script');

    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    function isStopped(player) {
      const playerState = player.getPlayerState();
      if (playerState === YT.PlayerState.BUFFERING) {
        return undefined;
      }
      return playerState === YT.PlayerState.UNSTARTED || playerState === YT.PlayerState.PAUSED || playerState === YT.PlayerState.ENDED || playerState === YT.PlayerState.CUED;
    }

    function setVideoPlaybackIcon(track_id, isStopped) {
      const icon = document.getElementById(`${track_id}-icon`);
      if (isStopped === undefined) {
        icon.className = "bi bi-arrow-clockwise"
      } else if (isStopped) {
        icon.className = "bi bi-play-circle"
      } else {
        icon.className = "bi bi-pause-circle"
      }
    }

    function toggleVideoPlayback(track_id) {

      const [selectedTrack] = getSelectedYoutubeVideos().filter(v => v.track_id === track_id)

      // If toggled a different playback button, load respective video
      if (track_id !== currentTrack?.track_id) {
        loadVideoPlayer(track_id, selectedTrack.video_id);
        return;
      }

      const stopped = isStopped(ytplayer);
      if (stopped) {
        ytplayer.playVideo();
      } else {
        ytplayer.pauseVideo();
      }
    }

    function loadVideoPlayer(trackId, videoId) {
      console.log("loadVideoPlayer HTML!!", { trackId, videoId })
      loadingVideo = { trackId, videoId };
      ytplayer.stopVideo();
      ytplayer.clearVideo();
      ytplayer.loadVideoById(videoId); // TODO: Load or cue? Cue won't start video automatically
    }

    function onChangeVideoSelection(el) {
      const { trackId, videoId } = toVideoItem(el.value);
      loadVideoPlayer(trackId, videoId);
    }
  </script>
</body>

</html>