<html>

<head>
  <title>Download Spotify Playlist</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
  <style type="text/css">
    .custom-tooltip {
      --bs-tooltip-bg: var(--bs-primary);
    }
  </style>
  <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
  <script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
  <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
</head>

<body>
  <a class="text-decoration-none" href="/danvas">danvas</a>
  <h1>{{ playlist.name }}
    <button onclick="downloadTracks()" type="button" class="btn btn-primary btn-lg"><span><i
          class="bi bi-download"></i></span></button>
  </h1>
  <div id="main-play-button"></div>

  <div id="yt-player"></div>
  <div class="d-flex flex-wrap">
    {% for track in playlist.tracks %}

    <div class="card" style="width: 12rem; margin: 5px">
      <img src="{{ track.album_img_url }}" class="card-img-top" alt="{{ track.album_img_url }}">

      <div class="card-body">
        <h5 class="card-title">{{ track.artist }}</h5>
        <p class="card-text">
          {% if track.preview_url is none %}
          <span><i class="bi bi-dash-circle"></i></span>
          {% else %}
          <audio id="track-preview-{{track.id}}" src="{{ track.preview_url if track.preview_url is not none }}"></audio>
          <span style="cursor: pointer;" onclick="togglePreviewTrack(this, 'track-preview-{{track.id}}')">
            <i id="track-preview-{{track.id}}-icon" class="bi bi-play-circle"></i>
          </span>
          {% endif %}
          {{track.name }}
        </p>
        <div class="d-flex align-items-center flex-row">
          <div class="pe-1">
            <span class="btn btn-danger yt-playback-button" data-bs-toggle="tooltip" data-bs-placement="top"
              data-bs-custom-class="custom-tooltip" data-bs-title="Playback Youtube audio" style="cursor: pointer;"
              onclick="toggleVideoPlayback('{{track.id}}')">
              <i id="{{track.id}}-icon" class="bi bi-play-circle"></i>
            </span>
          </div>

          <div class="flex-fill">
            <select onchange="onChangeVideoSelection(this)" class="form-select" aria-label="Default select example">
              <option id="{{ track.id }}&{{ video_ids[track.id][0] }}" class="yt-video-item"
                value="{{ track.id }}&{{ video_ids[track.id][0] }}" selected>
                {{ video_ids[track.id][0] }}
              </option>
              {% for video_id in video_ids[track.id][1:] %}
              <option id="{{ track.id }}&{{ video_id }}" class="yt-video-item" value="{{ track.id }}&{{ video_id }}">{{
                video_id }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
  <script src="../static/play_button.js" type="text/babel"></script>
  <script>


    function toggleShowVideos(element_id) {
      const el = document.getElementById(element_id)
      if (el.style.display === "none") {
        el.style.display = "block";
      } else {
        el.style.display = "none";
      }
      console.log("toggleShowVideos!!", { el })
    }

    function togglePreviewTrack(button, audio_element_id) {
      const audio = document.getElementById(audio_element_id);
      const icon = document.getElementById(`${audio_element_id}-icon`);
      // console.log('togglePreviewTrack!!', { i, className: i.className, child: button.firstChild.className, ch: button.firstChild, button, audio_element_id, audio, paused: audio.paused })
      if (audio.paused) {
        audio.play();
        icon.className = "bi bi-pause-circle"
      } else {
        audio.pause();
        icon.className = "bi bi-play-circle"
      }
    }

    function playtrack(el) {
      console.log(`checked ${el.value} !!`, document.getElementById(`checkbox-${el.value}`));

    }

    function getSelectedYoutubeVideos() {
      const video_items = document.getElementsByClassName("yt-video-item");
      const videos = [];
      for (idx in video_items) {
        const { selected } = video_items[idx];
        if (selected && video_items[idx].value) {
          const [track_id, video_id] = video_items[idx].value.split("&");
          videos.push({ track_id, video_id });
        }
      }
      return videos;
    }

    function downloadTracks() {
      const videos = getSelectedYoutubeVideos();
      for (idx in videos) {
        const { track_id, video_id } = videos[idx];
        const id = toYtVideoItemId(track_id, video_id);
        const videoItemEl = document.getElementById(id);
        const title = videoItemEl.innerText.replace(/[\n\r]+|[\s]{2,}/g, ' ').trim();
        // console.log(`${title} (${video_id})`);
      }
    }

    function toYtVideoItemId(trackId, videoId) {
      return `${trackId}&${videoId}`;
    }

    function toVideoItem(id) {
      const [trackId, videoId] = id.split("&");
      return { trackId, videoId };
    }

    function toMinutesAndSeconds(totalSeconds) {
      const minutes = Math.floor(totalSeconds / 60);
      const seconds = parseInt(totalSeconds % 60);
      return `${minutes}m${seconds}s`;
    }

  </script>
  <script>
    const tooltipTriggerList = document.querySelectorAll('.yt-playback-button')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
    // FIXME: Tooltip working on only first element
    // console.log("tooltipList!!", { tooltipList })
  </script>
  <script>
    // 2. This code loads the IFrame Player API code asynchronously.
    var tag = document.createElement('script');

    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    // 3. This function creates an <iframe> (and YouTube player)
    //    after the API code downloads.
    var player;
    var currentTrack;
    function onYouTubeIframeAPIReady() {
      const [video] = getSelectedYoutubeVideos();
      currentTrack = { ...video };
      player = new YT.Player("yt-player", {
        width: '0',
        height: '0',
        videoId: currentTrack.video_id,
        playerVars: {
          'playsinline': 1,
          'controls': 0, // Hide player controls
          'disablekb': 1, // Disable keyboard controls
          'iv_load_policy': 3, // Hide video annotations
          'origin': 'http://127.0.0.1:8000',
        },
        events: {
          'onReady': onPlayerReady,
          'onStateChange': onPlayerStateChange
        }
      })
    }
    // 4. The API will call this function when the video player is ready.
    function onPlayerReady(event) {
    }

    // 5. The API calls this function when the player's state changes.
    function onPlayerStateChange(event) {
      // const player = event.target;
      const videoData = player.getVideoData();
      const [selectedVideo] = getSelectedYoutubeVideos()
        .filter(v => v.video_id === videoData.video_id);

      if (!selectedVideo) {
        currentTrack = null;
        return;
      }

      const stopped = isStopped(player);
      setVideoPlaybackIcon(selectedVideo.track_id, stopped)

      // Update playback icon of former track and update `currentTrack`
      if (currentTrack && (currentTrack?.track_id !== selectedVideo.track_id)) {
        setVideoPlaybackIcon(currentTrack?.track_id, true);
      }
      currentTrack = { ...selectedVideo };

      // Update video_item's text
      const id = toYtVideoItemId(currentTrack.track_id, currentTrack.video_id);
      const videoItemEl = document.getElementById(id);
      const text = videoItemEl.innerText.replace(/[\n\r]+|[\s]{2,}/g, ' ').trim();
      const doUpdate = (videoData.title.length > 0) && (text !== videoData.title);
      if (doUpdate) {
        const duration = player.getDuration();
        const durationText = toMinutesAndSeconds(duration);
        videoItemEl.innerText = `${videoData.title} (${durationText})`;
      }
    }

    function isStopped(ytPlayer) {
      const playerState = ytPlayer.getPlayerState();
      if (playerState === YT.PlayerState.BUFFERING) {
        return undefined;
      }
      return playerState === YT.PlayerState.UNSTARTED || playerState === YT.PlayerState.PAUSED || playerState === YT.PlayerState.ENDED || playerState === YT.PlayerState.CUED;
    }

    function setVideoPlaybackIcon(track_id, isStopped) {
      const icon = document.getElementById(`${track_id}-icon`);
      if (isStopped === undefined) {
        icon.className = "bi bi-arrow-clockwise"
      } else if (isStopped) {
        icon.className = "bi bi-play-circle"
      } else {
        icon.className = "bi bi-pause-circle"
      }
    }

    function toggleVideoPlayback(track_id) {

      const [selectedTrack] = getSelectedYoutubeVideos().filter(v => v.track_id === track_id)

      // If toggled a different playback button, load respective video
      if (track_id !== currentTrack?.track_id) {
        loadVideoPlayer(track_id, selectedTrack.video_id);
        return;
      }

      const stopped = isStopped(player);
      if (stopped) {
        player.playVideo();
      } else {
        player.pauseVideo();
      }
    }

    function loadVideoPlayer(trackId, videoId) {
      loadingVideo = { trackId, videoId };
      player.stopVideo();
      player.clearVideo();
      player.loadVideoById(videoId); // TODO: Load or cue? Cue won't start video automatically
    }

    function onChangeVideoSelection(el) {
      const { trackId, videoId } = toVideoItem(el.value);
      loadVideoPlayer(trackId, videoId);
    }
  </script>
</body>

</html>