<html>

<head>
  <title>{{ user_id }}'s Spotify Playlists</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>

<body>
  <div class="container p-4">
    <div class="d-flex flex-row justify-content-between align-items-center">
      <h1>{{ user_id.capitalize() }}'s Playlists</h1>
      <a class="h5 text-primary text-decoration-none" href="/">Home</a>
    </div>
    <div class="d-flex flex-wrap">
      {% for playlist in playlists %}
      <div class="card" style="width: 10rem; margin: 10px">
        {% if playlist.images|length %}
        <img src="{{ playlist.images.0.url }}" class="card-img-top" alt="thumbnail image of playlist">
        {% else %}
        <img src="" class="card-img-top" alt="[no image]">
        {% endif %}
        <div class="card-body">
          <a class="text-decoration-none" href="/playlist/{{ playlist.id }}">{{ playlist.name }}</a>
        </div>
      </div>
      {% endfor %}
    </div>

    {% if playlists|length == 0 %}
    <div class="d-flex text-center py-5">
      <div class="col">

        <h4 class="alert-heading">No playlists found.</h4>
        <h4 class="font-monospace py-2">(ノಠ益ಠ)ノ彡┻━┻</h4>
        <p>Try another user (i.e. not {{user_id}}).</p>
      </div>
    </div>
    {% endif %}
  </div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
    integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
    crossorigin="anonymous"></script>
</body>

</html>