  fastapi == 0.92.0
  jinja2 == 3.1.2
  python-dotenv == 1.0.0
  uvicorn[standard] == 0.20.0
  uvloop == 0.17.0
  ytmusicapi == 0.25.0
  youtube-dl == 2021.12.17
  itsdangerous == 2.1.2
  Authlib == 1.2.0
  httpx == 0.23.3